@font-face {
    font-family: 'Lato Light';
    src: url("./assets/fonts/Lato-Light.ttf") format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Lato Regular';
    src: url("./assets/fonts/Lato-Regular.ttf") format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Lato Bold';
    src: url("./assets/fonts/Lato-Bold.ttf") format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Lato Black';
    src: url("./assets/fonts/Lato-Black.ttf") format('truetype');
    font-weight: normal;
    font-style: normal;
}

html {
    font-size: 12px;
}   

* {
    box-sizing: border-box;
}

.wrapper {
    width: 100%;
    max-width: 1020px;
    margin: 0 auto;
}

.header_container,
.services_container,
.slider_container,
.portfolio_container,
.about_us_container,
.contact_us_container,
.footer_container {
    padding: 0px 40px 0px 40px;
}



/*HEADER*/

.header {
    position: sticky;
    top: 0;
    z-index: 3;
}

.header_container {
    display: flex;
    height: 95px;
    background-color: #2d303a;  
    border-bottom: 6px solid #323746;
    justify-content: space-between;
}

.header_container--logo {
    font-family: "Lato Bold";
    font-size: 25.5px;
    color: #ffffff;
    margin-top: 32px;
    text-transform: uppercase;
    letter-spacing: -0.8px;
}

.header_container--navigation {
    display: block;
    width: 371px;
}


.header_container--logo_star {
    position: relative;
    font-family: "Lato Bold";
    color: #f06c64;
}

.header_container--list {
    display: flex;
    font-size: 12px;
    line-height: 13px;
}

.header_container--item {
    display: flex;
    margin-top: 42px;
}

.header_container--item:not(:last-child)::after {
    content: '\B7';
    font-size: 22px;
    margin: 1.2px 13.3px 1.2px 12px;
    color: #494e62;
}

.header_container--link {
    font-family: "Lato Bold";
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: -0.3px;
}

.header_container--link:hover {
    color: #f06c64;
}

.header_container--link-active {
    color: #f06c64;
    font-size: 13px;
}

/* SLIDER */

.slider_container {
    display: flex;
    height: 600px;
    overflow: hidden;
    position: relative;
}

.item_container {
    display: flex;
    margin-right: calc(-1020px/2);
    position: absolute;
    z-index: 1;
    width: 1020px;
    height: 600px;
    animation: 0.5s ease-in-out;
    
}

.item_container-red {
    background-color: #f06c64;
    border-bottom: 6px solid #ea676b;
}

.item_container-blue {
    background-color: #648BF0;
    border-bottom: 6px solid rgb(105, 143, 238);
}

/* ARROW */

.slider_container--arrow {
    cursor: pointer;
    transition: transform .2s linear;
    height: 29px;
    top: 50%;
    width: 16px;
    position: absolute;
    z-index: 2;
    margin-top: calc(-40px/2);
}

.slider_container--arrow:hover {
    transform: scale(1.1);
    opacity: 0.5;
}

.slider_container--arrow-previous {
    background-image: url(assets/swipe_arrow_previous.svg);
}

.slider_container--arrow-next {
    right: 40px;
    background-image: url(assets/swipe_arrow-next.svg);
}

/* Phone*/

.iphone_second--slide-left,
.iphone_second--slide-center,
.iphone_second--slide-right {
    position: absolute;
}



.iphone {
    display: flex;
    flex-direction: column;
    width: 215px;
    height: 458px;
    border-radius: 12%/6%;
    background-color: #f2f2f2;
    box-shadow: 21px 21px 0px 4px rgba(0, 0, 0, 0.15);
}

.iphone_second  {
    position: absolute;
    width: 140.02px;
    height: 298px;
    top: 157px;
}

.iphone_second--left {
    left: 252px;
    opacity: 0.5;
}

.iphone_second--center {
    width: 229.61px;
    height: 486.3px;
    left: 383px;
    top: 47px;
    z-index: 1;
}

.iphone_second--right {
    right: 267px;
    opacity: 0.5;
} 

.iphone--screen {
    width: 90%;
    height: 74%;
    border: 2.4px solid #c6c6c6;
    border-radius: 3px;
    margin: 10% 0px 0px 5.4%;
    background-color: black;
}

.iphone--cam {
    width: 4%;
    height: 2%;
    border-radius: 100%;
    border: 2.2px solid #d8d8d8;
    background-color: #eb5055;
    margin: 7.6% 0 0 47.9%;
}

.iphone--speaker {
    width: 16.8%;
    height: 1.1%;
    border-radius: 5px;
    background-color: #acacac;
    margin: 4.9% 0px 0px 41.9%;

}

.iphone--button {
    width: 19%;
    height: 9%;
    border-radius: 100%;
    background-color: #fafafa;
    margin: 3% auto;
    cursor: pointer;
    background-image: url(assets/home_button.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 48%;
}

.iphone--button:hover {
    box-shadow: 0px 0px 0px 4px rgba(0, 0, 0, 0.15) inset;
}

.slider_container--iphone-second {
    box-shadow: 21px -22px 0px 4px rgba(0, 0, 0, 0.15);
    transform: rotate(90deg);
    margin-top: 52.5px;
}

.slider_container--iphone-first {
    box-shadow: 21px 21px 0px 4px rgba(0, 0, 0, 0.15);
    margin-right: 219.5px;
    margin-left: 112px;
    margin-top: 53px;
}

.iphone--screen_first {
    background-image: url(assets/Layerfirst.png);
    background-position: -14.1px -134px;
}

.iphone--screen_second {
    background-image: url(assets/Layersecond.png);
    background-position: -118.8px -121.2px
}

/*services*/

.services_container {
    display: flex;
    flex-wrap: wrap;
    background-color: #f2f2f2;
    border-bottom: 6px solid #ffffff;
}

.services_container--title {
    font-family: "Lato Black";
    font-size: 30px;
    line-height: 16px;
    color: #666d89;
    margin-top: 69px;
    letter-spacing: -0.2px;
}


.services_container--text {
    font-size: 18px;
    line-height: 31px;
    color: #767e9e;
    margin-top: 27px;
    font-family: "Lato Light";
    letter-spacing: -0.37px;
    word-spacing: 2.4px;
    text-align: justify;
}

.layout_three_column--services {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 34px;
    margin-top: 40px;
}

.our_services_block--item {
    margin: 5px;
    flex: 1 0 20%;
}

.our_services_block--item::before{
    content: "";
    float: left;
    padding-top: 20%%;
}

.our_services_block--container {
    width: 100%;
    height: 100%;
    display: flex;
}


.our_services_block--image {
    width: 60px;
    height: 60px;
}

.our_services_block--text_area {
    margin-left: 19.2px;
    width: 219.2px;
}

.our_services_block--title {
    font-size: 18.9px;
    font-family: "Lato Black";
    color: #666d89;
    font-weight: 600;
    letter-spacing: -0.6px;
    word-spacing: 0.3px;
    line-height: 14.5px;
}

.our_services_block--text {
    font-size: 12px;
    line-height: 23px;
    font-family: "Lato Regular";
    color: #767e9e;
    margin: 10px 0px 0px 0px;
    text-align: justify;
    text-overflow: ellipsis;
}

/*portfolio */

.portfolio_container {
    display: flex;
    flex-direction: column;
    background-color: #2d303a;
    border-bottom: 6px solid #323746;
}


.portfolio_container--title {
    font-family: "Lato Black", sans-serif;
    font-size: 30px;
    color: #666d89;
    margin-top: 62px;
}

.portfolio_container--info {
    font-size: 18px;
    color: #767e9e;
    font-family: "Lato Light", sans-serif;
    margin-top: 27px;
}

.portfolio_container--tags {
    display: flex;
    margin: 17.2px 0px 10px 0px;
}

.portfolio_container--tag {
    font-family: "Lato Regular", sans-serif;
    margin-right: 12px;
    font-size: 12.1px;
    line-height: 16px;
    padding: 2.5px 6.9px;
    color: #767e9e;
    border-radius: 4px;
    border: 0.7px solid #767e9e;
    cursor: pointer;
    letter-spacing: -0.35px;
    transition: all .1s linear;
}

.portfolio_container--tag:last-child {
    margin-right: 0;
}


.portfolio_container--tag-selected {
    color: #dedede;
    border-color: #dedede;
}

.portfolio_container--tag:hover {
    color: #dedede;
    border-color: #dedede;
}

/*imG*/
.layout_four_column {
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
    margin-bottom: 40px;
  }

.img_block {
    margin: 10px 20px 10px 0px;
    flex: 1 0 20%;
}


.img_block::before{
    content: "";
    float: left;
    padding-top: 100%;
}

.img_block:nth-child(n+13){
    display:none;
}

.img {
    width: 100%;
    height: 100%;
}

.img:hover {
    opacity: 0.5;
    cursor: pointer;
}

.img_active {
    border: 5px solid #F06C64;
}
/*About-us*/

.about_us_container {
    display: flex;
    flex-direction: column;
    background-color: #f2f2f2;
    border-bottom: 6px solid #ffffff;
}

.about_us_container--title {
    font-size: 30px;
    color: #767e9e;
    font-family: "Lato Black", sans-serif;
    margin-top: 62px;
}

.about_us_container--info {
    font-size: 18px;
    line-height: 30px;
    color: #767e9e;
    font-family: "Lato Light", sans-serif;
    margin-top: 21px;
    text-align: justify;
}

.layout_three_column--employee {
    display: flex;
    margin-top: 45px;
    margin-bottom: 69px;
}

.employee {
    width: calc((100% - 20px * 2) / 3);
    margin-right: 20px;
    float: left;
}

.employee:last-child {
    margin-right: 0;
    float: right;
}

.employee--img {
    width: 100%;
}
.employee--title {
    color: #767e9e;
    font-family: 'Lato Black', sans-serif;
    font-size: 18px;
    letter-spacing: -0.006em;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin-top: 4%;
}

.employee--info {
    color: #767e9e;
    font-family: 'Lato Regular', sans-serif;
    font-size: 12px;
    text-align: justify;
    margin-top: 3%;
    line-height: 22px;
    margin-bottom: 8%;
}

.social--block {
    display: flex;
    height: 32px;
}

.social {
    height: 32px;
    width: 32px;
    margin-right: 8px;
}


.social--icon {
    width: 100%;
    height: 100%;
    background-size: 100%;
    background-repeat: no-repeat;
    float: right;
}

.social--icon:hover {
	cursor: pointer;
    transform: scale(1.1);
    opacity: 0.5;
}


.social--icon-facebook {
    background-image: url("assets/Facebook.svg");
}

.social--icon-google {
    background-image: url("assets/Google.svg");
}

.social--icon-twitter {
    background-image: url("assets/Twitter.svg");
}

.social--icon-linkedIn {
    background-image: url("assets/LinkedIn.svg");
}

/*Contact_us*/

.contact_us_container {
    display: flex;
    flex-direction: column;
    background-color: #f06c64;
    border-bottom: 5px solid #ea676b;
}

.contact_us_container--title {
    font-size: 30px;
    color: #f0d8d9;
    font-family: "Lato Black", sans-serif;
    margin-top: 62px;
    letter-spacing: 0.1px;
}

.contact_us_container--info {
    font-size: 18px;
    line-height: 30px;
    color: #f0d8d9;
    font-family: "Lato Regular", sans-serif;
    margin-top: 21px;
    text-align: justify;
    word-spacing: -0.5px;
    letter-spacing: -0.16px;
}

.layout_two_column {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 27px;
}

.layout_two_column--form {
    display: flex;
    flex-direction: column;
    margin-top: 45px;
    width: calc((100% - 12px)/1.5);
    margin-right: 20px;
}

.layout_two_column--form_name,
.layout_two_column--form_email,
.layout_two_column--form_subject {
    height: 38.9px;
    border: 0px;
    border-radius: 5px;
    background-color: #d6564f;
    padding: 14px;
    color: #f0d8d9;
    margin-bottom: 15px;
}

.layout_two_column--form_description {
    border-radius: 5px;
    border: 0px;
    background-color: #d6564f;
    padding: 14px;
    resize: none;
    height: 203px;
    color: #f0d8d9;
    margin-bottom: 15px;
}

.layout_two_column--form > input::placeholder, textarea::placeholder {
    font-size: 12px;
    color: #ee8284;
    font-family: 'Lato-Regular';
    margin-left: 20px;
}

.submit {
    background-color: #2d303a;
    width: calc((100%) / 6);
    height: 10%;
    font-size: 1em;
    border-radius: 5px;
    border: 0px;
    font-family: 'Lato Black';
    color: #767e9e;
    font-family: "Lato Black", sans-serif;
    min-width: max-content;
}

.submit:hover {
    cursor: pointer;
    background-color: #d6564f;
    color: #f0d8d9;
    transition: 0.5s;
}



.layout_two_column--contact{
    display: flex;
    flex-direction: column;
    margin-top: 42px;
    width: calc((100% - 36px) / 3);
    float: left;
}

.layout_two_column--contact_info {
    font-family: 'Lato Bold';
    font-size: 18px;
    line-height: 23.7px;
    text-align: justify;
    word-spacing: 2.1px;
    margin-top: -0.8px;
    letter-spacing: 0px;
    color: #f0d8d9;
}

.layout_two_column--contact_text {
    font-family: 'Lato Regular';
    font-size: 12px;
    margin-top: 7px;
    line-height: 21.6px;
    word-spacing: -0.5px;
    letter-spacing: 0.05px;
    text-align: justify;
    color: #f0d8d9;
}

.layout_two_column--contact_link {
    display: flex;
    flex-direction: column;
    margin-top: 26.1px;
    width: 100%;
}


.mail_address,
.phone_number,
.place {
    font-family: lato regular;
    text-decoration: none;
    color: #f0d8d9;
    font-size: 12px;
    text-align: justify;
    line-height: 20.7px;
}

.mail-address:hover,
.phone-number:hover {
    color: #f0d8d9;
}

.ico {
    display: inline-block;
    background-repeat: no-repeat;
    width: 13px;
    height: 11px;
    margin-right: 9px;
    margin-left: 0.9px;
    background-position-x: center;
}

.ico--place {
    background-image: url("assets/location_icon.svg");
}

.ico--phone {
    background-image: url("assets/phone_icon.svg");
}

.ico--email {
    background-image: url("assets/email_icon.svg");
    background-position-y: 8.2px;
    height: 16.5px;
}

.footer_container {
    display: flex;
    justify-content: space-between;
    height: 76px;
    background-color: #2d303a;
}

.footer_container--social {
    margin: auto 0;
}


.footer_container--copyright {
    font-family: 'Lato Regular';
    font-size: 12px;
    color: #666d89;
    margin-left: 41px;
    letter-spacing: -0.1px;
    text-align: justify;
    margin: auto 1.2px;
}

a.anchor {
    display: block;
    position: relative;
    top: -79px;
    visibility: hidden;
}


.item_container--active {
    right: 510px;
}

.item_container--next {
    right: -510px;
  
}

.to_left {
    animation-name: left;
}

.to_right {
    animation-name: right;
    animation-direction: reverse;
}

.from_left {
    animation-name: left;
    animation-direction: reverse;
}

.from_right {
    animation-name: right;
}

@keyframes left {
    from {
        left: 0;
    }
    to {
        left: -100%;
    }
}

@keyframes right {
    from {
        left: 100%;
    }
    to {
        left: 0;
    }
}

/* MODAL */

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(80, 80, 80, 0.4);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 4;
}

.modal {
    border-radius: 10px;
    background-color: #2d303a;
    overflow: auto;
    z-index: 5;
    position: fixed;
    top: 35%;
    left: 30%;
    right: 30%;
    bottom: 35%;
    padding: 5px 15px;
    box-shadow: 0 0 10px black;
}

.message {
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    padding-right: 20px;
    height: 100%;
    justify-content: space-around;
    font-family: "Lato Regular", sans-serif;
    color: #767e9e;
}

.message--status {
    text-align: center;
}

.message--subject {
    width: 100%;
    height: 7%;
    overflow: hidden;
}
.message--description {
    width: 100%;
    height: 60%;
    overflow: hidden;
}

.button-agree {
    margin: 0 auto;
}

.message--agree-hidden {
    background-color: #f0d8d9;
    border-radius: 5px;
    border: 0px;
    margin: 0 auto;
    font-family: "Lato black", sans-serif;
    color: #767e9e;
}

.message--agree-hidden:hover {
    cursor: pointer;
    background-color: #d6564f;
    color: #f0d8d9;
    transition: 0.5s;
}

.scroll-hidden {
    overflow: hidden;
}

@media (min-width: 769px) {
    .img_block:nth-child(4n+4) {
        margin-right: 0;
        float: right;
    }
}

@media (min-width:480px) and (max-width: 768px) {
    .img_block {
        flex: 1 0 25%;
    }

    .img_block:nth-child {
        margin-right: 20px;
    }

    .img_block:nth-child(3n+3) {
        margin-right: 0;
    }
}

@media (max-width: 480px) {
    .img_block {
        flex: 1 0 35%;
    }

    .img_block:nth-child(n+9){
        display:none;
    }

    .img_block:nth-child(2n+2) {
        margin-right: 0;
        float: right;
    }
}


